@import "../../../palette";
@import "../../../mixins";

.tablet{
  $width-el: 3vw;
  $height-el: .1vw;
  $depth-el: 1vw;

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 11vw;
  top: 4vw;
  width: 2vw;
  height: 2.5vw;

  transform: translateZ(7vw) rotateZ(15deg);


  &__front, &__back, &__right, &__left { background-color: #383838; }
  &__top{
    background-image: url('../../../images/medium.jpg');
    background-size: cover;
    cursor: pointer;
  }
  &__bottom{
      background-color: darken($black-3, 40);
  }
}
