@import "../../../palette";
@import "../../../firefox-mixins";

.tablet{
  $width-el: vres(3);
  $height-el: vres(.1);
  $depth-el: vres(1);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: vres(11);
  top: vres(4);
  width: vres(3);
  height: vres(2);

  transform: translateZ(vres(7.05)) rotateZ(15deg);


  &__front, &__back, &__right, &__left { background-color: #383838; }
  &__top{
    background-image: url('../../../images/medium.jpg');
    background-size: cover;
    cursor: pointer;
    .tablet-link{
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
  &__bottom{
      background-color: darken($black-3, 40);
  }
}
