.subtitle {
  position: fixed;
  background: black;
  padding: 24px;
  bottom: -15vh;
  font-size: 1.8rem;
  color: white;
  opacity: 0.75;
  min-width: 40vw;
  text-align: center;
  max-width: 80vw;
}
