.subtitle {
  position: fixed;
  background: black;
  padding: 12px;
  bottom: -15vh;
  font-size: 3vh;
  color: white;
  opacity: 0.75;
  min-width: 50vw;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
