@import '../../../palette';
@import '../../../mixins';

.shelf {
  $width-el: vres(8.9);
  $height-el: vres(0.25);
  $depth-el: vres(0.74);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: vres(17);
  top: vres(1);
  width: vres(9);
  height: vres(0.5);

  transform: translateZ(vres(5));

  &__front, &__right, &__left, &__bottom {
    background-image: url('../../../images/wood-rotated.png');
    background-color: #2b0d03;
    background-size: 32px;
  }
  &__back {
    background-color: $white3;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: vres(0.25);
      border-radius: 50%;
      background-image: radial-gradient(
        rgba(lighten($neon1, 5), 0.7) 50%,
        rgba(darken($neon2, 10), 0.6),
        transparent
      );
      filter: blur(vres(1.25));
    }
  }
  // &__right {
  //   background-color: $white3;
  // }
  // &__left {
  //   background-color: $white2;
  // }
  &__top {
    background-image: url('../../../images/wood-rotated.png');
    background-color: #2b0d03;
    background-size: 32px;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba(darken($neon1, 10), 0.75),
        transparent
      );
    }
  }
  &__bottom {
    background-color: $white3;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba(darken($neon1, 10), 0.75),
        transparent
      );
    }
  }
}
.books {
  position: absolute;
}
.book {
  $width-el: vres(0.14);
  $height-el: vres(1.3);
  $depth-el: vres(0.7);
  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  top: vres(1);
  width: vres(0.2);
  height: vres(1);

  &__front {
    background-repeat: no-repeat;
    background-size: cover;
    &.book1 {
      background-image: url('../../../images/book1.jpg');
    }
    &.book2 {
      background-image: url('../../../images/book2.jpg');
    }
    &.book3 {
      background-image: url('../../../images/book4.jpg');
    }
    &.book4 {
      background-image: url('../../../images/book3.jpg');
    }
    &.book5 {
      background-image: url('../../../images/book5.jpg');
    }
    &.book6 {
      background-image: url('../../../images/book6.jpg');
    }
    &.book7 {
      background-image: url('../../../images/book7.jpg');
    }
    &.book8 {
      background-image: url('../../../images/book8.jpg');
    }
    &.book9 {
      background-image: url('../../../images/book9.jpg');
    }
    &.book10 {
      background-image: url('../../../images/book10.jpg');
    }
    &.book11 {
      background-image: url('../../../images/book11.jpg');
    }
    &.book12 {
      background-image: url('../../../images/book12.jpg');
    }
    &.book13 {
      background-image: url('../../../images/book13.jpg');
    }
    &.book14 {
      background-image: url('../../../images/book14.jpg');
    }
    &.book15 {
      background-image: url('../../../images/book15.jpg');
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba($neon1, 0.4),
        transparent
      );
    }
  }
  &__back {
    background-color: $white1;
  }
  &__right {
    // background-color: black;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to left,
        rgba($neon1, 0.85),
        rgba($neon2, 0.35)
      );
    }
  }
  &__left {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to left,
        rgba($neon1, 0.85),
        rgba($neon2, 0.35)
      );
    }
  }
  &__top {
    background-color: darken($white1, 10);
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba($neon1, 0.85),
        rgba($neon2, 0.35)
      );
    }
  }
  &__bottom {
    background-color: lighten($white3, 14);
  }
  &__left,&__right,&__front {
    &.book1 {
      background-color: #dab51d;
    }
    &.book2 {
      background-color: black;
    }
    &.book3 {
      background-color: rgb(167, 238, 178);
    }
    &.book4 {
      background-color:grey;
    }
    &.book5 {
      background-color: #114f9a;
    }
    &.book6 {
      background-color: #eb325b;
    }
    &.book7 {
      background-color: #1a1a1a;
    }
    &.book8 {
      background-color: #90485c;
    }
    &.book9 {
      background-color: #cad6e6;
    }
    &.book10 {
      background-color: #da5652;
    }
    &.book11 {
      background-color: #4a6183;
    }
    &.book12 {
      background-color: #bc5e90;
    }
    &.book13 {
      background-color: #51aab8;
    }
    &.book14 {
      background-color: #28496a;
    }
    &.book15 {
      background-color: #353535;
    }
  }

  &:nth-of-type(1) {
    left: vres(18.95);
    transform-origin: left;
    transform: translateZ(vres(5.22)) rotateY(2deg) rotateZ(10deg);
    &__front {
      background-image: url('../../../images/book1.jpg');
      background-size: cover;
    }
  }
  &:nth-of-type(2) {
    left: vres(19.2);
    transform-origin: left;
    transform: translateZ(vres(5.22)) rotateY(2deg) rotateZ(10deg);
  }
  &:nth-of-type(3) {
    left: vres(19.45);
    transform-origin: left;
    transform: translateZ(vres(5.22)) rotateY(2deg) rotateZ(10deg);
  }
  &:nth-of-type(4) {
    left: vres(19.65);
    transform-origin: left;
    transform: translateZ(vres(5.22)) rotateY(2deg) rotateZ(10deg);
  }
  &:nth-of-type(5) {
    left: vres(19.85);
    transform-origin: left;
    transform: translateZ(vres(5.22)) rotateY(2deg) rotateZ(10deg);
  }
  &:nth-of-type(6) {
    left: vres(20.05);
    transform-origin: left;
    transform: translateZ(vres(5.22)) rotateY(2deg) rotateZ(10deg);
  }
  &:nth-of-type(7) {
    left: vres(20.25);
    transform-origin: left;
    transform: translateZ(vres(5.22)) rotateY(2deg) rotateZ(10deg);
  }
  &:nth-of-type(8) {
    left: vres(20.45);
    transform-origin: left;
    transform: translateZ(vres(5.22)) rotateY(2deg) rotateZ(10deg);
  }
  &:nth-of-type(9) {
    left: vres(20.7);
    transform-origin: left;
    transform: translateZ(vres(5.22)) rotateY(2deg) rotateZ(10deg);
  }
  &:nth-of-type(10) {
    left: vres(20.9);
    transform-origin: left;
    transform: translateZ(vres(5.22)) rotateY(2deg) rotateZ(10deg);
  }
  &:nth-of-type(11) {
    left: vres(21.1);
    transform-origin: left;
    transform: translateZ(vres(5.22)) rotateY(2deg) rotateZ(10deg);
  }
  &:nth-of-type(12) {
    left: vres(21.3);
    transform-origin: left;
    transform: translateZ(vres(5.22)) rotateY(2deg) rotateZ(10deg);
  }
  &:nth-of-type(13) {
    left: vres(21.5);
    transform-origin: left;
    transform: translateZ(vres(5.22)) rotateY(2deg) rotateZ(10deg);
  }
  &:nth-of-type(14) {
    left: vres(23.75);
    transform-origin: left;
    transform: translateZ(vres(5.22)) rotateY(-90deg);
  }
  &:nth-of-type(15) {
    left: vres(23.75);
    transform-origin: left;
    transform: translateZ(vres(5.36)) rotateY(-90deg);
  }
}
