@import "../../../palette";
@import "../../../mixins";

.laptop-base {
  $width-el: vres(2.92);
  $height-el: vres(0.075);
  $depth-el: vres(0.972);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: vres(6);
  top: vres(4.506);
  width: vres(2);
  height: vres(2.5);

  transform: translateZ(vres(7.05));

  &__front {
    background-color: #d7d7d7;
  }
  &__back {
    background-color: #d7d7d7;
  }
  &__right {
    background-color: #d7d7d7;
  }
  &__left {
    background-color: #d7d7d7;
  }
  &__top {
    background-image: url('../../../images/keyboard.jpg');
    background-size: cover;
    background-size: contain;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-color: #d7d7d7;
    // background-color: $white2;
    // background-color: lighten($neon1, 10);
    // border: vres(0.2) solid rgba($neon1, 0.25);
    // animation: pantalla-tablet 0.25s infinite;
  }
  &__bottom {
    background-color: darken($black3, 40);
    // box-shadow: vres(0.25) vres(0.25) vres(0.5) rgba(darken($neon2, 20), 0.75),
    //   vres(-0.25) vres(0.25) vres(0.5) rgba(darken($neon2, 20), 0.75),
    //   vres(-0.25) vres(-0.25) vres(0.5) rgba(darken($neon2, 20), 0.75),
    //   vres(0.25) vres(-0.25) vres(0.5) rgba(darken($neon2, 20), 0.75);
  }
}

.laptop-screen {
  $width-el: vres(2.92);
  $height-el: vres(2);
  $depth-el: vres(0.025);
  
  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: vres(5.995);
  top: vres(4.476);
  width: vres(2);
  height: vres(2.5);

  transform: translateZ(vres(7.25)) translateY(vres(0.0125)) rotateX(10deg);

  &__front {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      // box-shadow: vres(0.125) vres(0.125) vres(1) rgba($neon1, 0.5),
      //   vres(-0.125) vres(0.125) vres(1) rgba($neon1, 0.5),
      //   vres(0.125) vres(-0.125) vres(1) rgba($neon1, 0.5),
      //   vres(-0.125) vres(-0.125) vres(1) rgba($neon1, 0.5);
  
      background-image: url('../../../images/firstcodeloop.gif');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      cursor: default;
    }
    &.dribbble::before {
      background-image: url('../../../images/dribbble.jpg');
      cursor: pointer;
    }
    // border: vres(0.125) solid darken($black3, 10);
    // background-color: lighten($neon1, 10);
    border: vres(0.075) solid black;
    // animation: pantalla-tablet 0.25s infinite;
    .laptop-link {
      opacity: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__back {
    background-color: #d7d7d7;
  }
  &__right {
    background-color: $white3;
  }
  &__left {
    background-color: darken($white2, 10);
    // background-color: $white2;
  }
  &__top {
    background-color: $white2;
  }
  &__bottom {
    background-color: darken($black3, 40);
  }
}
@keyframes pantalla-tablet {
  from {
    background-color: lighten($neon1, 5);
  }
}
