@import '../../../palette';
@import '../../../mixins';
.monitor {
  $width-el: 8vw;
  $height-el: 5vw;
  $depth-el: 0.25vw;
  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 4vw;
  top: 1.5vw;
  width: 8vw;
  height: 0.5vw;

  transform: translateZ(9vw);

  &__front {
    background-color: lighten($neon-1, 15);
    border: 0.125vw solid darken($black-3, 10);
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0.125vw 0.125vw 1vw rgba($neon-1, 0.5),
        -0.125vw 0.125vw 1vw rgba($neon-1, 0.5),
        0.125vw -0.125vw 1vw rgba($neon-1, 0.5),
        -0.125vw -0.125vw 1vw rgba($neon-1, 0.5);
  
      background-image: url('../../../images/batman.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      opacity: 0.8;
    }
    animation: pantalla-tv 0.25s infinite alternate;
  }
  &__back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black-3;
    &::before {
      content: "";
      position: absolute;
      width: 13vw;
      height: 7vw;
      background-image: radial-gradient(
        rgba(darken($neon-2, 5), 0.95),
        rgba(darken($neon-1, 5), 0.95)
      );
      filter: blur(1.25vw);

      // animation: luz-tv 0.25s infinite alternate;
    }
  }
  &__right {
    background-color: $black-3;
  }
  &__left {
    background-color: $black-3;
  }
  &__top {
    background-color: $black-3;
  }
  &__bottom {
    background-color: $black-3;
  }
}

@keyframes pantalla-tv{
  from{
      background-color: lighten($neon-1, 5);
      box-shadow:
          .125vw .125vw 0vw rgba($neon-1, 0),
          -.125vw .125vw 0vw rgba($neon-1, 0),
          .125vw -.125vw 0vw rgba($neon-1, 0),
          -.125vw -.125vw 0vw rgba($neon-1, 0)
      ;
  }
}
@keyframes luz-tv{
  from{
      background-image: radial-gradient(rgba(darken($neon-2, 5), .8), rgba(darken($neon-1, 5), .8));
  }
}
