@import '../../../palette';
@import '../../../mixins';
.monitor {
  $width-el: vres(8);
  $height-el: vres(5);
  $depth-el: vres(0.25);
  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: vres(4);
  top: vres(1.5);
  width: vres(8);
  height: vres(0.5);

  transform: translateZ(vres(9));

  &__front {
    background-color: black;
    border: vres(0.125) solid darken($black-3, 10);
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      // box-shadow: vres(0.125) vres(0.125) vres(1) rgba($neon-1, 0.5),
      //   vres(-0.125) vres(0.125) vres(1) rgba($neon-1, 0.5),
      //   vres(0.125) vres(-0.125) vres(1) rgba($neon-1, 0.5),
      //   vres(-0.125) vres(-0.125) vres(1) rgba($neon-1, 0.5);
      // background-color: #383838;
      background-image: url('../../../images/hi.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      filter: drop-shadow(0px 0px 1px #212121);
    }
    &.projects::before {
      background-image: url('../../../images/projects.jpg');
    }
  }
  &__back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black-3;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: vres(13);
    //   height: vres(7);
    //   background-image: radial-gradient(
    //     rgba(darken($neon-2, 5), 0.95),
    //     rgba(darken($neon-1, 5), 0.95)
    //   );
    //   filter: blur(vres(1.25));

    //   // animation: luz-tv 0.25s infinite alternate;
    // }
  }
  &__right {
    background-color: $black-3;
  }
  &__left {
    background-color: $black-3;
  }
  &__top {
    background-color: $black-3;
  }
  &__bottom {
    background-color: $black-3;
  }
}
