@import '../../../mixins';

.keys {
  font-family: monospace;
  position: absolute;
  background: black;
  color: white;
  font-size: 4vh;
  opacity: 0.25;
  height: 10vh;
  width: 10vh;
  text-align: center;
  line-height: 10vh;
  &.key-left {
    transform: translateX(vres(-1.25)) translateY(vres(-2.5)) translateZ(vres(25));
    left: 0;
  }
  &.key-right {
    transform: translateX(vres(16.25)) translateY(vres(-2.5)) translateZ(vres(25));
    right: 0;
  }
  &.hide-key {
    display: none;
  }
}
