@import "../../../palette";
@import "../../../mixins";

.certificate-1,
.certificate-2,
.certificate-3
 {
  $width-el: vres(2.99);
  $height-el: vres(4);
  $depth-el: vres(0.1);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: vres(16);
  top: vres(0);
  width: vres(4);
  height: vres(0.8);

  transform: translateZ(vres(10)) translateY(vres(2));

  &__front {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__back {
    background-color: $black-1;
    // box-shadow: vres(0.35) vres(0.35) vres(0.35) rgba($neon-1, 0.2),
    //   vres(-0.35) vres(0.35) vres(0.35) rgba($neon-1, 0.2),
    //   vres(-0.35) vres(-0.35) vres(0.35) rgba($neon-1, 0.2),
    //   vres(0.35) vres(-0.35) vres(0.35) rgba($neon-1, 0.2);
  }
  &__right {
    background-color: $black-1;
  }
  &__left {
    background-color: $black-1;
  }
  &__top {
    background-color: $black-1;
  }
  &__bottom {
    background-color: $black-1;
  }
}
.certificate-1 {
  &__front {
    background-image: url('../../../images/degree.jpg');

    &::before {
      content: "";
      position: absolute;
      top: vres(0);
      left: vres(0);
      width: vres(2.99);
      height: vres(4);
      background-origin: padding-box;
      background-image: linear-gradient(
        to bottom,
        rgba($neon-2, 0.15),
        rgba($neon-2, 0.15)
      );
    }
  }
}
.certificate-2 {
  left: vres(19.5);
  &__front {
    background-size: contain;
    background-image: url('../../../images/ideathon.jpg');
    background-color: black;
    // border: vres(0.5) solid $cuadro-2;
    &::before {
      content: "";
      position: absolute;
      top: vres(0);
      left: vres(0);
      width: vres(2.99);
      height: vres(4);
      background-origin: padding-box;
      background-image: linear-gradient(
        to bottom,
        rgba($neon-2, 0.15),
        rgba($neon-2, 0.15)
      );
    }
  }
}
.certificate-3 {
  left: vres(23);
  &__front {
    background-image: url('../../../images/interfaith.jpg');
    background-color: black;
    &::before {
      content: "";
      position: absolute;
      top: vres(0);
      left: vres(0);
      width: vres(2.99);
      height: vres(4);
      background-origin: padding-box;
      background-image: linear-gradient(
        to bottom,
        rgba($neon-2, 0.15),
        rgba($neon-2, 0.15)
      );
    }
  }
}
