@import "../../../palette";
@import "../../../mixins";

.certificate-1,
.certificate-2,
.certificate-3
 {
  $width-el: 2.99vw;
  $height-el: 4vw;
  $depth-el: 0.1vw;

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 16vw;
  top: 0vw;
  width: 4vw;
  height: 0.8vw;

  transform: translateZ(10vw) translateY(2vw);

  &__front {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__back {
    background-color: $black-1;
    // box-shadow: 0.35vw 0.35vw 0.35vw rgba($neon-1, 0.2),
    //   -0.35vw 0.35vw 0.35vw rgba($neon-1, 0.2),
    //   -0.35vw -0.35vw 0.35vw rgba($neon-1, 0.2),
    //   0.35vw -0.35vw 0.35vw rgba($neon-1, 0.2);
  }
  &__right {
    background-color: $black-1;
  }
  &__left {
    background-color: $black-1;
  }
  &__top {
    background-color: $black-1;
  }
  &__bottom {
    background-color: $black-1;
  }
}
.certificate-1 {
  &__front {
    background-image: url('../../../images/degree.jpg');

    &::before {
      content: "";
      position: absolute;
      top: 0vw;
      left: 0vw;
      width: 2.99vw;
      height: 4vw;
      background-origin: padding-box;
      background-image: linear-gradient(
        to bottom,
        rgba($neon-2, 0.15),
        rgba($neon-2, 0.15)
      );
    }
  }
}
.certificate-2 {
  left: 19.5vw;
  &__front {
    background-size: contain;
    background-image: url('../../../images/ideathon.jpg');
    background-color: black;
    // border: 0.5vw solid $cuadro-2;
    &::before {
      content: "";
      position: absolute;
      top: 0vw;
      left: 0vw;
      width: 2.99vw;
      height: 4vw;
      background-origin: padding-box;
      background-image: linear-gradient(
        to bottom,
        rgba($neon-2, 0.15),
        rgba($neon-2, 0.15)
      );
    }
  }
}
.certificate-3 {
  left: 23vw;
  &__front {
    background-image: url('../../../images/interfaith.jpg');
    background-color: black;
    &::before {
      content: "";
      position: absolute;
      top: 0vw;
      left: 0vw;
      width: 2.99vw;
      height: 4vw;
      background-origin: padding-box;
      background-image: linear-gradient(
        to bottom,
        rgba($neon-2, 0.15),
        rgba($neon-2, 0.15)
      );
    }
  }
}
