@import "../../../palette";
@import "../../../mixins";

.plank-top,
.plank-bottom {
  $width-el: vres(1.5);
  $height-el: vres(0.25);
  $depth-el: vres(5);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: vres(1);
  top: vres(15);
  width: vres(1.5);
  height: vres(10);

  transform: translateZ(vres(5));

  &__front, &__back, &__right, &__left {
    background-image: url('../../../images/wood-rotated.png');
    background-color: #2b0d03;
    background-size: 32px;
  }
  
  &__top {
    background-color: #2b0d03;
    background-image: url("../../../images/wood-rotated.png");
    // background-color: darken($white1, 10);
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        rgba(darken($neon1, 20), 0.75),
        transparent
      );
    }
  }
  &__bottom {
    background-color: $white3;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        rgba(darken($neon1, 20), 0.75),
        transparent
      );
    }
  }
}
.plank-top {
  transform: translateZ(vres(9));
}

.photos {
  position: absolute;
}
.photo {
  $width-el: vres(0.125);
  $height-el: vres(1.11);
  $depth-el: vres(1.11);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  width: vres(0.125);
  height: vres(2);
  left: vres(2);
  top: vres(11);

  &__front, &__back, &__left, &__top, &__bottom {
    background-color: black;
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darken($white2, 5);
    border: vres(0.15) solid #212121;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: center;
      border: vres(0.1) solid white;
    }
    &.cosplay::before {
      background-image: url('../../../images/cosplay.jpg');
    }
    &.producer::before {
      background-image: url('../../../images/producer.jpg');
    }
  }
  &:nth-of-type(1) {
    top: vres(16);
    transform: translateZ(vres(9.26)) rotateZ(5deg);
  }
  &:nth-of-type(2) {
    top: vres(20);
    transform: translateZ(vres(9.26)) rotateZ(-15deg);
  }
}

.boxes {
  position: absolute;
}
.box {
  $width-el: vres(1);
  $height-el: vres(0.75);
  $depth-el: vres(0.75);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  width: vres(1);
  height: vres(1.5);
  left: vres(2);

  transform: translateZ(vres(5.35));

  &__front {
    background-image: linear-gradient(
      to bottom,
      $white2,
      darken($white2, 10)
    );
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba($neon1, 0.4),
        transparent
      );
    }
  }
  &__back {
    background-color: $white2;
  }
  &__right {
    background-color: darken($white2, 20);
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba($neon1, 0.85),
        rgba($neon2, 0.35)
      );
    }
  }
  &__left {
    background-color: $white2;
  }
  &__top {
    background-color: darken($white1, 10);
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba($neon1, 0.85),
        rgba($neon2, 0.35)
      );
    }
  }
  &__bottom {
    background-color: darken($white2, 25);

    &::before {
      content: "";
      position: absolute;
      right: -50%;
      width: 150%;
      height: 120%;
      background-color: rgba($black1, 0.5);
      filter: blur(vres(0.15));
    }
  }
  &:nth-of-type(1) {
    top: vres(22);
  }
  &:nth-of-type(2) {
    top: vres(19);
  }
  &:nth-of-type(3) {
    top: vres(16);
  }
}
