@import "../../palette";
@import "../../mixins";

/**/
*,
*::after,
*::before {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transform-style: preserve-3d;
  -webkit-tap-highlight-color: transparent;
}

/* Generic */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: vres(10);
  height: 100vh;
  overflow: hidden;
  background-image: radial-gradient(white, #2a9aea);
  transform: translateZ(0);
  &.brave {
    width: 60vw;
  }
}

.face {
  position: absolute;
}

.house {
  height: 20vw;
  width: 20vw;
}
.h-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: vres(27);
  height: vres(27);
  box-shadow: vres(0.25) vres(0.25) vres(10.5) $bg-2,
    vres(0.25) vres(0.5) vres(4.5) $bg-2;
}

.floor {
  $width-el: vres(27);
  $height-el: vres(0.5);
  $depth-el: vres(13.5);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 0;
  top: 0;
  width: vres(27);
  height: vres(27);

  &__front {
    background-color: $white-2;
  }
  &__back {
    background-color: $white-3;
  }
  &__right {
    background-color: $white-3;
  }
  &__left {
    background-color: $white-1;
  }
  &__top {
    $color-1: #546e7a;
    $color-2: #455a64;
    // background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
    // background-color: rgb(88, 90, 89);
    // background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    // background-repeat: repeat;
    // background-image: linear-gradient(to bottom, $black-3, $white-3, $white-2);
    background-color: $color-1;
    background-image: linear-gradient(
        45deg,
        $color-2 25%,
        transparent 25%,
        transparent 75%,
        $color-2 75%,
        $color-2
      ),
      linear-gradient(
        -45deg,
        $color-2 25%,
        transparent 25%,
        transparent 75%,
        $color-2 75%,
        $color-2
      );
    background-size: 52px 52px;
    .light:nth-of-type(1) {
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba(darken($neon-2, 25), 0.75),
        rgba($neon-1, 0.75),
        transparent
      );
    }
    .light:nth-of-type(2) {
      position: absolute;
      left: vres(4);
      height: 100%;
      width: vres(6);
      background-image: linear-gradient(
        to bottom,
        transparent 20%,
        rgba($neon-2, 0.75),
        rgba($neon-1, 0.25) 80%
      );
      filter: blur(vres(0.1));
    }
    .light:nth-of-type(3) {
      position: absolute;
      bottom: vres(10);
      left: vres(5);
      width: vres(6);
      height: vres(3);
      border-radius: 50%;
      transform: rotateZ(42deg);
      background-image: radial-gradient(
        rgba(lighten($neon-1, 10), 0.75) 50%,
        rgba(darken($neon-2, 10), 0.75)
      );
      filter: blur(vres(0.55));
    }
    .light:nth-of-type(4) {
      position: absolute;
      bottom: vres(7);
      left: vres(4);
      width: vres(8.5);
      height: vres(2);
      border-radius: 50%;
      transform: rotateZ(40deg);
      background-image: radial-gradient(
        rgba(lighten($neon-1, 10), 0.75) 50%,
        rgba(darken($neon-2, 10), 0.75)
      );
      filter: blur(vres(0.55));
    }
    .light:nth-of-type(5) {
      position: absolute;
      bottom: vres(3.5);
      left: vres(4.5);
      width: vres(6);
      height: vres(2);
      border-radius: 50%;
      transform: rotateZ(40deg);
      background-image: radial-gradient(
        rgba(lighten($neon-1, 12), 0.75) 50%,
        rgba(darken($neon-2, 10), 0.75)
      );
      filter: blur(vres(0.75));
    }
    .light:nth-of-type(6) {
      position: absolute;
      bottom: vres(3);
      left: vres(0.5);
      width: vres(4);
      height: vres(2);
      border-radius: 50%;
      transform: rotateZ(40deg);
      background-image: radial-gradient(
        rgba(lighten($neon-1, 12), 0.75) 50%,
        rgba(darken($neon-2, 10), 0.75)
      );
      filter: blur(vres(0.35));
    }
    .light:nth-of-type(7) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        darken($black-3, 10),
        $neon-1 10%,
        transparent 20%
      );
      &::before {
        content: "";
        position: absolute;
        width: 20%;
        height: 100%;
        background-image: linear-gradient(
          to right,
          rgba(darken($neon-1, 25), 0.6),
          transparent 60%
        );
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 20%;
        background-image: linear-gradient(
          to bottom,
          rgba(darken($neon-1, 20), 0.5),
          transparent 60%
        );
      }
    }
    .light:nth-of-type(8) {
      position: absolute;
      bottom: vres(5);
      left: vres(10);
      width: vres(6);
      height: vres(4);
      border-radius: 50%;
      transform: rotateZ(40deg);
      background-image: radial-gradient(
        rgba(lighten($white-1, 12), 0.1) 50%,
        rgba(darken($white-2, 10), 0.1)
      );
      filter: blur(vres(0.8));
    }
  }
  &__bottom {
    background-image: url("../../images/contact.jpg");
    cursor: pointer;
    background-size: cover;
  }
}

.left-wall {
  $width-el: vres(1);
  $height-el: vres(20);
  $depth-el: vres(13.5);
  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 0;
  top: 0;
  width: vres(1);
  height: vres(27);

  transform: translateZ(vres(0.5));

  &__front {
    background-image: linear-gradient(to bottom, $white-3, $white-2);
  }
  &__top {
    background-color: $white-1;
  }
  &__back {
    background-color: $white-3;
  }
  &__right {
    // background-image: linear-gradient(
    //   to bottom,
    //   darken($white-4, 10),
    //   $white-3,
    //   $white-3 90%,
    //   darken($white-4, 2)
    // );
    // background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(90,83,210,1) 100%);
    // background: linear-gradient(90deg, rgba(90,83,210,1) 0%, rgba(0,212,255,1) 100%);
    background-image: linear-gradient(to bottom, #8d4e0f, #dbaf8f 20%, #b43636);
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: vres(0.75);
      background-image: linear-gradient(
        to bottom,
        darken($white-2, 5),
        $neon-2
      );
      border-top: vres(0.1) solid $white-4;
      border-bottom: vres(0.1) solid $white-4;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba(darken($neon-1, 20), 0.35),
        transparent 30%,
        transparent 70%,
        rgba($neon-2, 0.35)
      );
    }
  }
  &__left {
    background-color: $white-1;
  }
  // &__top{ background-color: $white-1; }
  &__bottom {
    background-color: $white-3;
  }
}
.ceiling-left {
  $width-el: vres(2);
  $height-el: vres(0.75);
  $depth-el: vres(13.5);
  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 0;
  top: 0;
  width: vres(2);
  height: vres(27);

  transform: translateZ(vres(20.5));

  &__front {
    background-color: $white-3;
  }
  &__back {
    background-color: $white-3;
  }
  &__right {
    background-image: linear-gradient(
      to right,
      darken($white-2, 5),
      $white-2,
      darken($white-2, 15)
    );

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      border-bottom: vres(0.1) solid rgba($white-1, 0.75);
      background-image: linear-gradient(
        to top,
        rgba($neon-1, 0.35),
        transparent
      );
    }
  }
  &__left {
    background-color: $white-1;
  }
  &__top {
    background-image: linear-gradient(to top, $white-2, $white-1);
  }
  &__bottom {
    background-color: $white-3;
  }
}
.right-wall {
  $width-el: vres(26);
  $height-el: vres(20);
  $depth-el: vres(0.5);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: vres(1);
  top: 0;
  width: vres(26);
  height: vres(1);

  transform: translateZ(vres(0.5));

  &__front {
    // background-image: linear-gradient(
    //   to bottom,
    //   darken($white-2, 32),
    //   darken($white-2, 25) 20%,
    //   darken($white-2, 32)
    // );
    background: linear-gradient(
      90deg,
      rgba(90, 83, 210, 1) 0%,
      rgba(0, 212, 255, 1) 100%
    );
    // background-image: linear-gradient(to bottom, #de7f1e, #dbaf8f 20%, #b43636);
    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   background-image: linear-gradient(
    //       to bottom,
    //       rgba($neon-2, 0.25),
    //       transparent 20%,
    //       transparent 80%,
    //       rgba($neon-2, 0.5)
    //     ),
    //     linear-gradient(to right, rgba($black-1, 0.35), transparent),
    //     linear-gradient(to bottom, rgba($black-1, 0.35), transparent),
    //     linear-gradient(
    //       to bottom,
    //       rgba(darken($neon-2, 50), 0.5),
    //       transparent 20%,
    //       transparent 80%,
    //       rgba($neon-2, 0.25)
    //     );
    // }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: vres(0.75);
      background-image: linear-gradient(
        to bottom,
        darken($white-2, 5),
        $neon-2
      );
      border-top: vres(0.01) solid $white-4;
      border-bottom: vres(0.1) solid $white-4;
    }
  }
  &__back {
    background-color: $white-3;
  }
  &__right {
    background-image: linear-gradient(
      to bottom,
      darken($white-4, 10),
      darken($white-3, 20) 80%,
      darken($white-4, 10)
    );
  }
  &__left {
    background-color: $white-2;
  }
  &__top {
    background-color: $white-1;
  }
  &__bottom {
    background-color: $white-3;
  }
}
.ceiling-right {
  $width-el: vres(25);
  $height-el: vres(0.75);
  $depth-el: vres(1);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: vres(2);
  top: 0;
  width: vres(25);
  height: vres(1);

  transform: translateZ(vres(20.5));

  &__front {
    background-image: linear-gradient(
      to right,
      darken($white-2, 15),
      $white-2,
      darken($white-2, 5)
    );
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      border-bottom: vres(0.1) solid rgba($white-1, 0.75);
      background-image: linear-gradient(
        to top,
        rgba($neon-2, 0.25),
        transparent
      );
    }
  }
  &__back {
    background-color: $white-3;
  }
  &__right {
    background-color: darken($white-4, 10);
  }
  &__left {
    background-color: $white-2;
  }
  &__top {
    background-image: linear-gradient(to left, $white-2, $white-1);
  }
  &__bottom {
    background-color: $white-3;
  }
}
