@import '../../../palette';
@import '../../../mixins';

.window {
  position: absolute;
  left: 1vw;
  top: 3vw;
  width: 0.125vw;
  height: 6vw;
  transform: translateZ(8.5vw);
}
.window-panel {
  $width-el: 0.125vw;
  $height-el: 8vw;
  $depth-el: 2.5vw;

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 0vw;
  top: 0;
  width: 0.125vw;
  height: 8vw;

  &__right {
    background-image: url('../../../images/kathmandu.jpg');
    background-size: cover;
    background-color: black;
    
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: radial-gradient(#ccb76a00 50%, #00086770);
    }
  }
}
.frame-left,
.frame-right {
  $width-el: 0.1vw;
  $height-el: 8vw;
  $depth-el: 0.25vw;

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 0.01vw;
  top: -0.5vw;
  width: 0.5vw;
  height: 0.5vw;

  &__front {
    background-color: $black-2;
  }
  &__back {
    background-color: $black-3;
  }
  &__right {
    background-color: $black-3;
  }
  &__left {
    background-color: darken($black-1, 10);
  }
  &__top{
    background-color: $black-3;
  }
  &__bottom {
    background-color: $black-3;
  }
}
.frame-left {
  top: 4.955vw;
}
.frame-top,
.frame-bottom {
  $width-el: 0.15vw;
  $height-el: 0.5vw;
  $depth-el: 3.515vw;

  @include cube($width-el, $height-el, $depth-el);

  left: 0.1vw;
  top: 0.1vw;
  width: 0.5vw;
  height: 6vw;
  
  &__front {
    background-color: darken($black-1, 10);
  }
  &__back {
    background-color: $black-3;
  }
  &__right {
    background-color: $black-3;
  }
  &__left {
    background-color: $black-2;
  }
  &__top {
    background-color: $black-1;
  }
  &__bottom {
    background-color: $black-3;
  }
}
.frame-top {
  transform: translate3d(0.05vw, -1vw, 7.915vw);
}
.frame-bottom {
  transform: translate3d(0.05vw, -7.04vw, -0.48vw);
}