@import "../../../palette";
@import "../../../mixins";

.study-table {
  position: absolute;
  left: 1vw;
  top: 1vw;
  width: 14vw;
  height: 9vw;
  transform: translateZ(0.5vw);
}
.table-shadow {
  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 10%;
  background-color: #83848373;
  filter: blur(1vw);
  transform: translateZ(0);
}
.study {
  $width-el: 14vw;
  $height-el: 0.5vw;
  $depth-el: 4.5vw;

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 0;
  top: 0;
  width: 12vw;
  height: 7vw;

  transform: translateZ(6vw);

  &__front {
    background-image: linear-gradient(
      to right,
      darken($black-2, 5),
      darken($black-2, 20)
    );
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        45deg,
        rgba($neon-1, 0.125),
        rgba(lighten($neon-1, 20), 0.25),
        transparent 55%
      );
    }
  }
  &__back {
    background-color: $black-3;
  }
  &__right {
    background-color: darken($black-3, 20);
  }
  &__left {
    background-color: $black-2;
  }
  &__top {
    background-color: #2b0d03;
    background-image: url('../../../images/wood-rotated.png');
    background-size: 32px;
    // background-image: linear-gradient(45deg, #20170b, #714f12);
    // background-image: linear-gradient(
    //   45deg,
    //   darken($black-2, 3),
    //   darken($black-3, 5)
    // );
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 50%;
      height: 50%;
      background-image: linear-gradient(
        45deg,
        rgba($neon-1, 0.5),
        rgba($white-1, 0.125) 50%,
        transparent 55%
      );
      filter: blur(0.5vw);
    }
    &::after {
      content: "";
      position: absolute;
      left: 2vw;
      top: 2vw;
      width: 20%;
      height: 50%;
      border-radius: 50%;
      background-color: rgba($neon-2, 0.079);
      transform: rotateZ(-40deg);
      filter: blur(0.75vw);
    }
  }
  &__bottom {
    background-color: $black-3;
  }
}
.table-foot {
  $width-el: 0.25vw;
  $height-el: 6vw;
  $depth-el: 0.125vw;

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  width: 0.25vw;
  height: 0.25vw;

  &__front {
    background-color: $black-3;
  }
  &__back {
    background-color: $black-3;
  }
  &__right {
    background-color: darken($black-3, 20);
  }
  &__left {
    background-color: $black-2;
  }
  &__top {
    background-color: $black-1;
  }
  &__bottom {
    background-color: $black-3;
    &::before {
      content: "";
      position: absolute;
      width: 600%;
      height: 200%;
      top: 0;
      right: 0;
      border-radius: 10%;
      transform: translateZ(-0.1vw);
      background-color: rgba(darken($black-3, 30), 0.75);
      filter: blur(0.35vw);
    }
  }
  &:nth-of-type(1) {
    left: 0.5vw;
    top: 0.5vw;
  }
  &:nth-of-type(2) {
    right: 0.5vw;
    top: 0.5vw;
  }
  &:nth-of-type(3) {
    left: 0.5vw;
    bottom: 0.5vw;
  }
  &:nth-of-type(4) {
    right: 0.5vw;
    bottom: 0.5vw;
  }
}
