@import "../../../palette";
@import "../../../mixins";

.study-table {
  position: absolute;
  left: vres(1);
  top: vres(1);
  width: vres(14);
  height: vres(9);
  transform: translateZ(vres(0.5));
}
.table-shadow {
  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 10%;
  background-color: #83848373;
  filter: blur(vres(1));
  transform: translateZ(0);
}
.study {
  $width-el: vres(14);
  $height-el: vres(0.5);
  $depth-el: vres(4.5);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 0;
  top: 0;
  width: vres(14);
  height: vres(7);

  transform: translateZ(vres(6));

  &__front {
    background-image: linear-gradient(
      to right,
      darken($black-2, 5),
      darken($black-2, 20)
    );
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      // background-image: linear-gradient(
      //   45deg,
      //   rgba($neon-1, 0.125),
      //   rgba(lighten($neon-1, 20), 0.25),
      //   transparent 55%
      // );
    }
  }
  &__back {
    background-color: $black-3;
  }
  &__right {
    background-color: darken($black-3, 20);
  }
  &__left {
    background-color: $black-2;
  }
  &__top {
    background-color: #2b0d03;
    background-image: url('../../../images/wood-rotated.png');
    background-size: vw(2);
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 50%;
      height: 50%;
      background-image: linear-gradient(
        45deg,
        rgba($neon-1, 0.5),
        rgba($white-1, 0.125) 50%,
        transparent 55%
      );
      filter: blur(vres(0.5));
    }
    &::after {
      content: "";
      position: absolute;
      left: vres(2);
      top: vres(2);
      width: 20%;
      height: 50%;
      border-radius: 50%;
      background-color: rgba($neon-2, 0.079);
      transform: rotateZ(-40deg);
      filter: blur(vres(0.75));
    }
  }
  &__bottom {
    background-color: $black-3;
  }
}
.table-foot {
  $width-el: vres(0.25);
  $height-el: vres(6);
  $depth-el: vres(0.125);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  width: vres(0.25);
  height: vres(0.25);

  &__front {
    background-color: $black-3;
  }
  &__back {
    background-color: $black-3;
  }
  &__right {
    background-color: darken($black-3, 20);
  }
  &__left {
    background-color: $black-2;
  }
  &__top {
    background-color: $black-1;
  }
  &__bottom {
    background-color: $black-3;
    &::before {
      content: "";
      position: absolute;
      width: 600%;
      height: 200%;
      top: 0;
      right: 0;
      border-radius: 10%;
      transform: translateZ(vres(-0.1));
      background-color: rgba(darken($black-3, 30), 0.75);
      filter: blur(vres(0.35));
    }
  }
  &:nth-of-type(1) {
    left: vres(0.5);
    top: vres(0.5);
  }
  &:nth-of-type(2) {
    right: vres(0.5);
    top: vres(0.5);
  }
  &:nth-of-type(3) {
    left: vres(0.5);
    bottom: vres(0.5);
  }
  &:nth-of-type(4) {
    right: vres(0.5);
    bottom: vres(0.5);
  }
}
