@import "../../../palette";
@import "../../../mixins";

.chair {
  position: absolute;
  left: 7vw;
  top: 9vw;
  width: 3vw;
  height: 6vw;

  transform: translateZ(4.25vw) rotateZ(-5deg);

  &::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 160%;
    height: 80%;
    background-color: rgba($black-3, 0.85);
    filter: blur(0.75vw);
    transform: translateZ(-3.75vw);
  }
}
.seat {
  $width-el: 4vw;
  $height-el: 1vw;
  $depth-el: 2vw;

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 0;
  top: 1vw;
  width: 6vw;
  height: 4vw;

  &__front {
    background-color: $black-2;
  }
  &__back {
    background-color: $black-3;
  }
  &__right {
    background-color: $black-3;
  }
  &__left {
    background-image: linear-gradient(to bottom, $black-2, darken($black-2, 5));
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba($neon-2, 0.1),
        transparent
      );
    }
  }
  &__top {
    background-image: linear-gradient(to right, $black-1, $black-2);
    border-top: 0.1vw solid rgba($white-2, 0.5);

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        rgba($neon-2, 0.25),
        transparent
      );
    }
  }
  &__bottom {
    background-color: $black-3;
  }
}
.left-armrest,
.right-armrest {
  $width-el: 0.35vw;
  $height-el: 2vw;
  $depth-el: 0.75vw;
  transform: rotateX(-5deg);


  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  top: 2.5vw;
  transform: translateZ(0.125vw);
  width: 6vw;
  height: 1vw;

  &__front {
    background-image: linear-gradient(to bottom, $black-2, darken($black-2, 5));
  }
  &__back {
    background-image: linear-gradient(
      to bottom,
      $black-3,
      darken($black-3, 20)
    );
  }
  &__right {
    background-color: $black-3;
  }
  &__left {
    background-image: linear-gradient(to bottom, $black-2, $black-3);
  }
  &__top {
    background-image: linear-gradient(to right, $black-1, darken($black-2, 2));
    border-bottom: 0.1vw solid rgba($white-2, 0.5);

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        rgba($neon-2, 0.75),
        transparent
      );
    }
  }
  &__bottom {
    background-color: $black-3;
  }
}
.right-armrest {
  left: -0.25vw;
}
.left-armrest {
  left: 4vw;
}
.backrest {
  $width-el: 4vw;
  $height-el: 6.5vw;
  $depth-el: 0.125vw;

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 0;
  top: 4.5vw;
  width: 1vw;
  height: 1vw;
  transform-origin: right;
  transform: rotateX(-15deg);

  &__front {
    background-color: $black-2;
  }
  &__back {
    background-image: linear-gradient(
      to bottom,
      darken($black-2, 5),
      darken($black-3, 20)
      );
  }
  &__right {
    background-image: linear-gradient(to bottom, darken($black-2, 5), $black-3);
    }
    &__left {
    background-image: linear-gradient(to bottom, $black-3, darken($black-2, 8));
  }
  &__top {
    background-image: linear-gradient(to right, $black-1, darken($black-2, 2));
    border-bottom: 0.1vw solid rgba($white-2, 0.5);

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        rgba($neon-2, 0.5),
        transparent
      );
    }
  }
  &__bottom {
    background-color: $black-3;
  }
}
.stand {
  $width-el: 0.5vw;
  $height-el: 4vw;
  $depth-el: 0.25vw;

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  width: 1vw;
  height: 2vw;
  left: 1.75vw;
  top: 3vw;
  transform: translateZ(-4vw);

  &__front {
    background-color: $black-3;
  }
  &__back {
    background-color: $black-3;
  }
  &__right {
    background-color: darken($black-3, 20);
  }
  &__left {
    background-color: $black-2;
  }
  &__top {
    background-color: $black-1;
  }
  &__bottom {
    background-color: $black-3;
    &::before {
      content: "";
      position: absolute;
      width: 200%;
      height: 200%;
      top: 0;
      right: 0;
      border-radius: 10%;
      transform: translateZ(-0.1vw);
      background-color: rgba(darken($black-3, 30), 0.75);
      filter: blur(0.35vw);
    }
  }
}
.pedestal-1, .pedestal-2 {
  $width-el: 0.55vw;
  $height-el: 0.35vw;
  $depth-el: 2.2vw;

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 1.75vw;
  top: 1vw;
  width: 2vw;
  height: 2vw;
  transform: translateZ(-4vw);

  &__front {
    background-color: $black-2;
  }
  &__back {
    background-color: $black-3;
  }
  &__right {
    background-color: $black-3;
  }
  &__left {
    background-color: $black-3;
  }
  &__top {
    background-image: linear-gradient(to right, $black-1, $black-3);
  }
  &__bottom {
    background-color: $black-3;
  }
}
.pedestal-2 {
  transform: translateZ(-4vw) rotateZ(90deg) translateX(2vw) translateY(-0.5vw);
}
