@import "../../../palette";
@import "../../../mixins";

.chair {
  position: absolute;
  left: vres(7);
  top: vres(9);
  width: vres(3);
  height: vres(6);

  transform: translateZ(vres(4.25)) rotateZ(-5deg);

  &::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 160%;
    height: 80%;
    background-color: rgba($black-3, 0.85);
    filter: blur(vres(0.75));
    transform: translateZ(vres(-3.75));
  }
}
.seat {
  $width-el: vres(4);
  $height-el: vres(1);
  $depth-el: vres(2);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 0;
  top: vres(1);
  width: vres(6);
  height: vres(4);

  &__front {
    background-color: $black-2;
  }
  &__back {
    background-color: $black-3;
  }
  &__right {
    background-color: $black-3;
  }
  &__left {
    background-image: linear-gradient(to bottom, $black-2, darken($black-2, 5));
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba($neon-2, 0.1),
        transparent
      );
    }
  }
  &__top {
    background-image: linear-gradient(to right, $black-1, $black-2);
    border-top: vres(0.1) solid rgba($white-2, 0.5);

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        rgba($neon-2, 0.25),
        transparent
      );
    }
  }
  &__bottom {
    background-color: $black-3;
  }
}
.left-armrest,
.right-armrest {
  $width-el: vres(0.35);
  $height-el: vres(2);
  $depth-el: vres(0.75);
  transform: rotateX(-5deg);


  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  top: vres(2.5);
  transform: translateZ(vres(0.125));
  width: vres(6);
  height: vres(1);

  &__front {
    background-image: linear-gradient(to bottom, $black-2, darken($black-2, 5));
  }
  &__back {
    background-image: linear-gradient(
      to bottom,
      $black-3,
      darken($black-3, 20)
    );
  }
  &__right {
    background-color: $black-3;
  }
  &__left {
    background-image: linear-gradient(to bottom, $black-2, $black-3);
  }
  &__top {
    background-image: linear-gradient(to right, $black-1, darken($black-2, 2));
    border-bottom: vres(0.1) solid rgba($white-2, 0.5);

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        rgba($neon-2, 0.75),
        transparent
      );
    }
  }
  &__bottom {
    background-color: $black-3;
  }
}
.right-armrest {
  left: vres(-0.25);
}
.left-armrest {
  left: vres(4);
}
.backrest {
  $width-el: vres(4);
  $height-el: vres(6.5);
  $depth-el: vres(0.125);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 0;
  top: vres(4.5);
  width: vres(1);
  height: vres(1);
  transform-origin: right;
  transform: rotateX(-15deg);

  &__front {
    background-color: $black-2;
  }
  &__back {
    background-image: linear-gradient(
      to bottom,
      darken($black-2, 5),
      darken($black-3, 20)
      );
  }
  &__right {
    background-image: linear-gradient(to bottom, darken($black-2, 5), $black-3);
    }
    &__left {
    background-image: linear-gradient(to bottom, $black-3, darken($black-2, 8));
  }
  &__top {
    background-image: linear-gradient(to right, $black-1, darken($black-2, 2));
    border-bottom: vres(0.1) solid rgba($white-2, 0.5);

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        rgba($neon-2, 0.5),
        transparent
      );
    }
  }
  &__bottom {
    background-color: $black-3;
  }
}
.stand {
  $width-el: vres(0.5);
  $height-el: vres(4);
  $depth-el: vres(0.25);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  width: vres(1);
  height: vres(2);
  left: vres(1.75);
  top: vres(3);
  transform: translateZ(vres(-4));

  &__front {
    background-color: $black-3;
  }
  &__back {
    background-color: $black-3;
  }
  &__right {
    background-color: darken($black-3, 20);
  }
  &__left {
    background-color: $black-2;
  }
  &__top {
    background-color: $black-1;
  }
  &__bottom {
    background-color: $black-3;
    &::before {
      content: "";
      position: absolute;
      width: 200%;
      height: 200%;
      top: 0;
      right: 0;
      border-radius: 10%;
      transform: translateZ(vres(-0.1));
      background-color: rgba(darken($black-3, 30), 0.75);
      filter: blur(vres(0.35));
    }
  }
}
.pedestal-1, .pedestal-2 {
  $width-el: vres(0.55);
  $height-el: vres(0.35);
  $depth-el: vres(2.2);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: vres(1.75);
  top: vres(1);
  width: vres(2);
  height: vres(2);
  transform: translateZ(vres(-4));

  &__front {
    background-color: $black-2;
  }
  &__back {
    background-color: $black-3;
  }
  &__right {
    background-color: $black-3;
  }
  &__left {
    background-color: $black-3;
  }
  &__top {
    background-image: linear-gradient(to right, $black-1, $black-3);
  }
  &__bottom {
    background-color: $black-3;
  }
}
.pedestal-2 {
  transform: translateZ(vres(-4)) rotateZ(90deg) translateX(vres(2)) translateY(vres(-0.5));
}
