@mixin cube($width, $height, $depth) {
  &__front{ @include cube-front($width, $height, $depth); }
  &__back{ @include cube-back($width, $height, $depth); }
  &__right{ @include cube-right($width, $height, $depth); }
  &__left{ @include cube-left($width, $height, $depth); }
  &__top{ @include cube-top($width, $height, $depth);}
  &__bottom{ @include cube-bottom($width, $height, $depth); }
}
@mixin cube-front($width, $height, $depth) {
  width: $width;
  height: $height;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ( -($height - ($depth * 2) ) );
}
@mixin cube-back($width, $height, $depth) {
  width: $width;
  height: $height;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-$width) translateY(-$height) ;
}
@mixin cube-right($width, $height, $depth) {
  width: $depth * 2;
  height: $height;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ($width) translateX(-$depth * 2) translateY(-$height);
}
@mixin cube-left($width, $height, $depth) {
  width: $depth * 2;
  height: $height;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-$height);
}
@mixin cube-top($width, $height, $depth) {
  width: $width;
  height: $depth * 2;
  transform-origin: top left;
  transform: translateZ($height) ;
}
@mixin cube-bottom($width, $height, $depth) {
  width: $width;
  height: $depth * 2;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-$width);
}
@mixin face-ani($animation, $time, $side, $width-el, $height-el, $depth-el) {
  animation: #{$animation} #{$time} infinite ease;
  @keyframes #{$animation} {
      0%, 15%, 45%, 60%, 62%, 68%{
          @if $side == "cube-front" { @include cube-front($width-el, $height-el, $depth-el); }
          @else if $side == "cube-back" { @include cube-back($width-el, $height-el, $depth-el); }
          @else if $side == "cube-right" { @include cube-right($width-el, $height-el, $depth-el); }
          @else if $side == "cube-left" { @include cube-left($width-el, $height-el, $depth-el); }
          @else if $side == "cube-top" { @include cube-top($width-el, $height-el, $depth-el); }
      }
      20%, 40%, 58%, 64%, 70%, 100%{
          @if $side == "cube-front" { @include cube-front($width-el, $height-finish, $depth-el); }
          @else if $side == "cube-back" { @include cube-back($width-el, $height-finish, $depth-el); }
          @else if $side == "cube-right" { @include cube-right($width-el, $height-finish, $depth-el); }
          @else if $side == "cube-left" { @include cube-left($width-el, $height-finish, $depth-el); }
          @else if $side == "cube-top" { @include cube-top($width-el, $height-finish, $depth-el); }
      }
  }
}
