// $bg-1: #322e4a;
$bg-1: hsl(250, 28%, 11%);
$bg-2: darken($bg-1, 15);

// $white-2: #9E99C1;
$white-2: #ffffff;
$white-1: darken($white-2, 10);
// $white-3: #383358;
$white-3: #a8a8a8;
// $white-4: #282347;
$white-4: #666568;

$black-1: #393a1c;
$black-2: darken($black-1, 10);
$black-3: darken($black-2, 5);

// $neon-1: #5474FB;
// $neon-2: #283CD2;
$neon-1: #faf8f0;
$neon-2: #eeeeee;
// $neon-1: hsl(220, 95%, 65%);
// $neon-2: hsl(210, 68%, 49%);

$cuadro-1: #D51E24;
$cuadro-2: #0F1110;
