// $bg1: #322e4a;
$bg1: hsl(250, 28%, 11%);
$bg2: darken($bg1, 15);

// $white2: #9E99C1;
$white2: #ffffff;
$white1: darken($white2, 10);
// $white3: #383358;
$white3: #a8a8a8;
// $white4: #282347;
$white4: #666568;

$black1: #393a1c;
$black2: darken($black1, 10);
$black3: darken($black2, 5);

// $neon1: #5474FB;
// $neon2: #283CD2;
$neon1: #faf8f0;
$neon2: #eeeeee;
// $neon1: hsl(220, 95%, 65%);
// $neon2: hsl(210, 68%, 49%);

$cuadro-1: #D51E24;
$cuadro-2: #0F1110;
