@import "../../../palette";
@import "../../../mixins";

.identity-card{
  $width-el: 0.68vw;
  $height-el: .012vw;
  $depth-el: 0.522vw;

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: 4vw;
  top: 7vw;
  width: 2vw;
  height: 2.5vw;

  transform: translateZ(7vw) rotateZ(-25deg);


  &__front{ background-color: darken($white-2, 10); }
  &__back{ background-color: $white-3; }
  &__right{ background-color: $white-3; }
  &__left{ background-color: $white-2; }
  &__top{
      background-image: url('../../../images/idcard.jpg');
      background-size: cover;
  }
  &__bottom{
      background-color: darken($black-3, 40);
  }
}
