@import "../../../palette";
@import "../../../mixins";

.identity-card{
  $width-el: vres(0.68);
  $height-el: vres(.012);
  $depth-el: vres(0.522);

  @include cube($width-el, $height-el, $depth-el);
  position: absolute;
  left: vres(4);
  top: vres(7);
  width: vres(2);
  height: vres(2.5);

  transform: translateZ(vres(7.05)) rotateZ(-25deg);


  &__front{ background-color: darken($white-2, 10); }
  &__back{ background-color: $white-3; }
  &__right{ background-color: $white-3; }
  &__left{ background-color: $white-2; }
  &__top{
      background-image: url('../../../images/idcard.jpg');
      background-size: cover;
  }
  &__bottom{
      background-color: darken($black-3, 40);
  }
}
